name: Check Links

on:
  pull_request:
    branches: 
      - master
      - main
  workflow_dispatch:

jobs:

  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        run: |
          set -x
          echo "matrix=$(find "$(pwd)" -type f -iname \*.md | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  troubleshoot:
    runs-on: ubuntu-latest
    needs: [generate-matrix]
    steps:
      - run: cat $GITHUB_OUTPUT
      - run: |
          set -x
          echo ${{ needs.generate-matrix.outputs.matrix }} | jq .

  markdown-link-check:
    runs-on: ubuntu-latest
    needs: [generate-matrix]
    strategy:
      matrix:
        file_to_check: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:

    - name: Install markdown-link-check
      run: sudo npm install -g markdown-link-check

    - uses: actions/checkout@v3

    - name: Run markdown-link-check against *.md files
      run: markdown-link-check --config "$(pwd)/.markdown-link-check.json" --quiet "${{ matrix.manifest }}"
