name: Linting

on:
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Pull markdownlint/markdownlint:latest Image
        run: docker pull markdownlint/markdownlint:latest
      - name: Run markdownlint against *.md files
        run: docker run --rm -i -v "$(pwd)":/workdir --workdir /workdir markdownlint/markdownlint:latest --rules ~MD033,~MD013,~MD026,~MD029,~MD012,~MD007 $(find . -type f -iname '*.md' | grep -v '/.git/')
# Ignoring MD013 - Line length
# Ignoring MD026 - Trailing punctuation in header
