name: Check Spelling
on: push

jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install pyspelling
    - name: Install Aspell
      run: sudo apt-get install -y aspell aspell-en
    - name: Spell check
      run: python -m pyspelling -c ./.spellcheck.yml
