name: Check Spelling
on:
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Pull pipelinecomponents/markdown-spellcheck Image
        run: docker pull pipelinecomponents/markdown-spellcheck
      - name: Spellcheck Markdown Files
        run: docker run --rm -i -v "$PWD:/github/workspace" --workdir /github/workspace -e FORCE_COLOR=1 pipelinecomponents/markdown-spellcheck --report "**/*.md" -n -a
# spelling:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v4.2.2
#     - name: Set up Python
#       uses: actions/setup-python@v5.1.0
#       with:
#         python-version: 3.9
#     - name: Install dependencies
#       run: |
#         python3 -m pip install --upgrade pip setuptools
#     - name: Install Aspell
#       run: sudo apt-get install -y aspell aspell-en
#     - name: Install pyspelling
#       run: |
#         git clone https://github.com/facelessuser/pyspelling.git /tmp/pyspelling
#         pushd /tmp/pyspelling || exit 1
#         git checkout $(git tag --sort='-creatordate' | head -1)
#         python3 ./setup.py install
#         popd || exit 1
#     - name: Spell check
#       run: pyspelling
